<div class="columns login" >
  <div class="column is-3">

    <form id="loginDsgn" method="pos">
    <div class="field loginCenter">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="email" name="" placeholder="Email" value="">
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
        <span class="icon is-samll is-right">
          <i class="fa fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Password" name="" value="">
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-success" type="submit" name="button">
          Login
        </button>
      </p>
    </div>
    </form>

  </div>
</div>
